AWS_REGION     = "region-1"
AWS_AZ_COUNT   = 2
AWS_AZ_NAMES   = ["region-1a", "region-1c"]
AWS_AMI        = "ami-00000000000000000"
AWS_ACCESS_KEY = "AWS_ACCESS_KEY"
AWS_SECRET_KEY = "AWS_SECRET_KEY"
app_config = {
  APP_VERSION   = "v1.0.0"
  APP_DOMAIN    = "domain.com.br"
  APP_SUBDOMAIN = "sub-domain"
  NODE_ENV      = "production"
}
cluster_name = "cluster-name"
